body {
	background-color: rgb(210,210,210);
	color: white;
	padding: 20px;
	font-family: Arial, Verdana, sans-serif;
	text-align: center;
	}
h1,h2 {
	background-color: rgb(230,230,230);
	color: #64645A;
	padding: inherit;
}
p {
	padding: 5px;
	margin: 0px;

}
#introduction {
	color: black;
}
ul {
	background-color: #fff;
	background-color: hsla(0,100%,100%,0.5);
	color: #64645A;
	padding: 20px;
	padding-left: 40px;
	text-align: left;
}